/ Begin text carousel intro section
%section#text-carousel-intro-section.parallax{"data-stellar-background-ratio" => "0.5", style: "background-image: url(assets/slider-bg.jpg);"}
  .container
    .caption.text-center.text-white{"data-stellar-ratio" => "0.7"}
      #owl-intro-text.owl-carousel
        .item
          %h1 1st Lady Health And Beauty
          %p One Stop Beauty place
          .extra-space-l
          %a.btn.btn-blank{href: "#services-section", role: "button"} Check Out Our Services!
        .item
          %h1 Best Services at Best Price
          %p Let's make the you even more beautiful
          .extra-space-l
          %a.btn.btn-blank{href: "#services-section", role: "button"} Check Out Our Services!
        .item
          %h1 Join with us
          %p To the greatest Journey
          .extra-space-l
          %a.btn.btn-blank{href: "#services-section", role: "button"} Check Out Our Services!
    / /.caption
  / /.container
/ End text carousel intro section