/ Begin partners
%section#partners-section
  / Begin page header
  .page-header-wrapper
    .container
      .page-header.text-center.wow.fadeInDown{"data-wow-delay" => "0.4s"}
        %h2 Our Partners
        .devider
        %p.subtitle Those who trust us
  / End page header
  .container
    #owl-partners.owl-carousel
      %img{alt: "img", src: "assets/1.png"}/
      %img{alt: "img", src: "assets/2.png"}/
      %img{alt: "img", src: "assets/3.png"}/
      %img{alt: "img", src: "assets/4.png"}/
      %img{alt: "img", src: "assets/5.png"}/
      %img{alt: "img", src: "assets/6.png"}/
      %img{alt: "img", src: "assets/7.png"}/
/ End partners