/ Begin prices section
%section#prices-section.page
  / Begin page header
  .page-header-wrapper
    .container
      .page-header.text-center.wow.fadeInDown{"data-wow-delay" => "0.4s"}
        %h2 Prices
        .devider
        %p.subtitle That how much
  / End page header
  .extra-space-l
  / Begin prices
  .prices
    .container
      .row
        .price-box.col-sm-6.col-md-3.wow.flipInY{"data-wow-delay" => "0.3s"}
          .panel.panel-default
            .panel-heading.text-center
              %i.fa.fa-plug.fa-2x
              %h3 Basic
            .panel-body.text-center
              %p.lead
                %strong $49
            %ul.list-group.text-center
              %li.list-group-item Personal Use
              %li.list-group-item 3 projects
              %li.list-group-item 1 GB Disk
              %li.list-group-item Custom Domain
              %li.list-group-item 24/7 Support
            .panel-footer.text-center
              %a.btn.btn-default{:href => "#"} Order Now!
        .price-box.col-sm-6.col-md-3.wow.flipInY{"data-wow-delay" => "0.5s"}
          .panel.panel-default
            .panel-heading.text-center
              %i.fa.fa-cog.fa-2x
              %h3 Advanced
            .panel-body.text-center
              %p.lead
                %strong $99
            %ul.list-group.text-center
              %li.list-group-item Personal Use
              %li.list-group-item 5 projects
              %li.list-group-item 5 GB Disk
              %li.list-group-item Custom Domain
              %li.list-group-item 24/7 Support
            .panel-footer.text-center
              %a.btn.btn-default{:href => "#"} Order Now!
        .price-box.col-sm-6.price-box-featured.col-md-3.wow.flipInY{"data-wow-delay" => "0.7s"}
          .panel.panel-default
            .panel-heading.text-center
              %i.fa.fa-star.fa-2x
              %h3 Professional
            .panel-body.text-center
              %p.lead
                %strong $149
            %ul.list-group.text-center
              %li.list-group-item Personal Use
              %li.list-group-item 20 Projects
              %li.list-group-item 20 GB Disk
              %li.list-group-item Custom Domain
              %li.list-group-item 24/7 Support
            .panel-footer.text-center
              %a.btn.btn-default{:href => "#"} Order Now!
            .price-box-ribbon
              %strong Popular
        .price-box.col-sm-6.col-md-3.wow.flipInY{"data-wow-delay" => "0.9s"}
          .panel.panel-default
            .panel-heading.text-center
              %i.fa.fa-plus.fa-2x
              %h3 Ultimate
            .panel-body.text-center
              %p.lead
                %strong $199
            %ul.list-group.text-center
              %li.list-group-item Multi Use
              %li.list-group-item Unlimited Projects
              %li.list-group-item 99 GB Disk
              %li.list-group-item Custom Domain
              %li.list-group-item 24/7 Support
            .panel-footer.text-center
              %a.btn.btn-default{:href => "#"} Order Now!
      / /.row
    / /.container
  / End prices
  .extra-space-l
/ End prices section