/ Begin Services
%section#services-section.page.text-center
  / Begin page header
  .page-header-wrapper
    .container
      .page-header.text-center.wow.fadeInDown{"data-wow-delay" => "0.4s"}
        %h2 Services
        .devider
        %p.subtitle what we really know how
  / End page header
  / Begin roatet box-2
  .rotate-box-2-wrapper
    .container
      .row
        .col-md-3.col-sm-6
          %a.rotate-box-2.square-icon.text-center.wow.zoomIn{"data-wow-delay" => "0", :href => "#"}
            %span.rotate-box-icon
              %i.fa.fa-mobile
            .rotate-box-info
              %h4 App Development
              %p Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.
        .col-md-3.col-sm-6
          %a.rotate-box-2.square-icon.text-center.wow.zoomIn{"data-wow-delay" => "0.2s", :href => "#"}
            %span.rotate-box-icon
              %i.fa.fa-pie-chart
            .rotate-box-info
              %h4 Ui Design
              %p Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.
        .col-md-3.col-sm-6
          %a.rotate-box-2.square-icon.text-center.wow.zoomIn{"data-wow-delay" => "0.4s", :href => "#"}
            %span.rotate-box-icon
              %i.fa.fa-cloud
            .rotate-box-info
              %h4 Cloud Hosting
              %p Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.
        .col-md-3.col-sm-6
          %a.rotate-box-2.square-icon.text-center.wow.zoomIn{"data-wow-delay" => "0.6s", :href => "#"}
            %span.rotate-box-icon
              %i.fa.fa-pencil
            .rotate-box-info
              %h4 Coding Pen
              %p Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.
      / /.row
    / /.container
    .container
      / Cta Button
      .extra-space-l
      .text-center
        %a.btn.btn-default.btn-lg-xl{:href => "http://www.imransdesign.com/", :role => "button", :target => "_blank"} Large Button
    / /.container
  / End rotate-box-2
/ End Services