/ Begin team
%section#team-section.page
  / Begin page header
  .page-header-wrapper
    .container
      .page-header.text-center.wow.fadeInDown{"data-wow-delay" => "0.4s"}
        %h2 Our Team
        .devider
        %p.subtitle Meat our experts
  / End page header
  .container
    .row
      .team-items
        .col-md-2
          .team-container.wow.bounceIn{"data-wow-delay" => "0.2s"}
            .team-item
              .team-triangle
                .content
                  %img{alt: "title", src: "assets/t1.jpg"}/
                  .team-hover.text-center
                    %i.fa.fa-male
                    %p John Doe
        .col-md-2
          .team-container.wow.bounceIn{"data-wow-delay" => "0.3s"}
            .team-item
              .team-triangle
                .content
                  %img{alt: "title", src: "assets/t1.jpg"}/
                  .team-hover.text-center
                    %i.fa.fa-female
                    %p Jane Doe
        .col-md-2
          .team-container.wow.bounceIn{"data-wow-delay" => "0.4s"}
            .team-item
              .team-triangle
                .content
                  %img{alt: "title", src: "assets/t1.jpg"}/
                  .team-hover.text-center
                    %i.fa.fa-male
                    %p John Doe
        .col-md-2
          .team-container.wow.bounceIn{"data-wow-delay" => "0.5s"}
            .team-item
              .team-triangle
                .content
                  %img{alt: "title", src: "assets/t1.jpg"}/
                  .team-hover.text-center
                    %i.fa.fa-male
                    %p John Doe
        .col-md-2
          .team-container.wow.bounceIn{"data-wow-delay" => "0.6s"}
            .team-item
              .team-triangle
                .content
                  %img{alt: "title", src: "assets/t1.jpg"}/
                  .team-hover.text-center
                    %i.fa.fa-male
                    %p John Doe
        .col-md-2
          .team-container.wow.bounceIn{"data-wow-delay" => "0.7s"}
            .team-item
              .team-triangle
                .content
                  %img{alt: "title", src: "assets/t1.jpg"}/
                  .team-hover.text-center
                    %i.fa.fa-male
                    %p John Doe
        .col-md-2
          .team-container.wow.bounceIn{"data-wow-delay" => "0.8s"}
            .team-item
              .team-triangle
                .content
                  %img{alt: "title", src: "assets/t1.jpg"}/
                  .team-hover.text-center
                    %i.fa.fa-female
                    %p Jane Doe
        .clearfix
/ End team