/ Begin testimonials
%section#testimonial-section
  #testimonial-trigger.testimonial.text-white.parallax{"data-stellar-background-ratio" => "0.5", :style => "background-image: url(assets/testimonial-bg.jpg);"}
    .cover
    / Begin page header
    .page-header-wrapper
      .container
        .page-header.text-center.wow.fadeInDown{"data-wow-delay" => "0.4s"}
          %h2 Reviews
          .devider
          %p.subtitle What people say about us
    / End page header
    .container
      .testimonial-inner.center-block.text-center
        #owl-testimonial.owl-carousel
          .item
            %blockquote
              %p "This was my first experience with that team and outperformed my expectation! They know there stuff and I highly recommend them! A+++".
              %footer
                %cite{title: "Source Title"} Daryl Hodgeman
          .item
            %blockquote
              %p
                "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua."
              %footer
                %cite{title: "Source Title"} John Doe
          .item
            %blockquote
              %p
                "Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit".
              %footer
                %cite{title: "Source Title"} John Doe
/ End testimonials