.page-loader
/ Display loading image while page loads

.body
  =render "header"
  =render "home"
  =render "about"
  =render "cta"
  =render "services"
  =render "testimonial"
  =render "portfolio"
  =render "counter"
  =render "team"
  =render "partners"
  =render "prices"
  =render "social"
  =render "contact"
  =render "footer"
  / body ends